<div id="demo-popup">
  <div class="content-popup-import">
    <div class="la-headings text-center spacer-position-middle">
      <h2 class="heading-tag">55+ Beautiful Home Demos</h2>
      <div class="la-separator"><span class="la-line"></span></div>
      <div class="subheading-tag">
        <p>As an endless inspiration, Nesos allows you create the beautiful site as you wish with distinguished functional home.</p>
      </div>
    </div>
    <div class="demo-grid grid-items lg-grid-4-items md-grid-4-items sm-grid-2-items xs-grid-1-items mb-grid-1-items">
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-01" class="btn-popup"> 
            <img src="{{ 'home-01.jpg' | asset_url }}" alt="Main Demo 01"> <span>Import Now</span> 
          </a>
          <div id="main-demo-01" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home1" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 01</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="200ms" data-animation-class="fadeIn" style="animation-delay: 200ms;">
          <a href="#main-demo-02" class="btn-popup"> 
            <img src="{{ 'home-02.jpg' | asset_url }}" alt="Main Demo 02"> <span>Import Now</span> 
          </a>
          <div id="main-demo-02" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home2" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 02</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="300ms" data-animation-class="fadeIn" style="animation-delay: 300ms;">
          <a href="#main-demo-03" class="btn-popup"> 
            <img src="{{ 'home-03.jpg' | asset_url }}" alt="Main Demo 03"> <span>Import Now</span> 
          </a>
          <div id="main-demo-03" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home3" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 03</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-04" class="btn-popup"> 
            <img src="{{ 'home-04.jpg' | asset_url }}" alt="Main Demo 04"> <span>Import Now</span> 
          </a>
          <div id="main-demo-04" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home4" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 04</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="200ms" data-animation-class="fadeIn" style="animation-delay: 200ms;">
          <a href="#main-demo-05" class="btn-popup"> 
            <img src="{{ 'home-05.jpg' | asset_url }}" alt="Main Demo 05"> <span>Import Now</span> 
          </a>
          <div id="main-demo-05" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home5" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 05</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="300ms" data-animation-class="fadeIn" style="animation-delay: 300ms;">
          <a href="#main-demo-06" class="btn-popup"> 
            <img src="{{ 'home-06.jpg' | asset_url }}" alt="Main Demo 06"> <span>Import Now</span> 
          </a>
          <div id="main-demo-06" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home6" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 06</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-07" class="btn-popup"> 
            <img src="{{ 'home-07.jpg' | asset_url }}" alt="Main Demo 07"> <span>Import Now</span> 
          </a>
          <div id="main-demo-07" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home7" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 07</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="200ms" data-animation-class="fadeIn" style="animation-delay: 200ms;">
          <a href="#main-demo-08" class="btn-popup"> 
            <img src="{{ 'home-08.jpg' | asset_url }}" alt="Main Demo 08"> <span>Import Now</span> 
          </a>
          <div id="main-demo-08" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home8" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 08</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="300ms" data-animation-class="fadeIn" style="animation-delay: 300ms;">
          <a href="#main-demo-09" class="btn-popup"> 
            <img src="{{ 'home-09.jpg' | asset_url }}" alt="Main Demo 09"> <span>Import Now</span> 
          </a>
          <div id="main-demo-09" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home9" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 09</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-10" class="btn-popup"> 
            <img src="{{ 'home-10.jpg' | asset_url }}" alt="Main Demo 10"> <span>Import Now</span> 
          </a>
          <div id="main-demo-10" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home10" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 10</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="200ms" data-animation-class="fadeIn" style="animation-delay: 200ms;">
          <a href="#main-demo-11" class="btn-popup"> 
            <img src="{{ 'home-11.jpg' | asset_url }}" alt="Main Demo 11"> <span>Import Now</span> 
          </a>
          <div id="main-demo-11" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home11" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 11</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="300ms" data-animation-class="fadeIn" style="animation-delay: 300ms;">
          <a href="#main-demo-12" class="btn-popup"> 
            <img src="{{ 'home-12.jpg' | asset_url }}" alt="Main Demo 12"> <span>Import Now</span> 
          </a>
          <div id="main-demo-12" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home12" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 12</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-13" class="btn-popup"> 
            <img src="{{ 'home-13.jpg' | asset_url }}" alt="Main Demo 13"> <span>Import Now</span> 
          </a>
          <div id="main-demo-13" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home13" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 13</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-14" class="btn-popup"> 
            <img src="{{ 'home-14.jpg' | asset_url }}" alt="Main Demo 14"> <span>Import Now</span> 
          </a>
          <div id="main-demo-14" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home14" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 14</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-15" class="btn-popup"> 
            <img src="{{ 'home-15.jpg' | asset_url }}" alt="Main Demo 15"> <span>Import Now</span> 
          </a>
          <div id="main-demo-15" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home15" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 15</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-16" class="btn-popup"> 
            <img src="{{ 'home-16.jpg' | asset_url }}" alt="Main Demo 16"> <span>Import Now</span> 
          </a>
          <div id="main-demo-16" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home16" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 16</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-17" class="btn-popup"> 
            <img src="{{ 'home-17.jpg' | asset_url }}" alt="Main Demo 17"> <span>Import Now</span> 
          </a>
          <div id="main-demo-17" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home17" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 17</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-18" class="btn-popup"> 
            <img src="{{ 'home-18.jpg' | asset_url }}" alt="Main Demo 18"> <span>Import Now</span> 
          </a>
          <div id="main-demo-18" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home18" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 18</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-19" class="btn-popup"> 
            <img src="{{ 'home-19.jpg' | asset_url }}" alt="Main Demo 19"> <span>Import Now</span> 
          </a>
          <div id="main-demo-19" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home19" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 19</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-20" class="btn-popup"> 
            <img src="{{ 'home-20.jpg' | asset_url }}" alt="Main Demo 20"> <span>Import Now</span> 
          </a>
          <div id="main-demo-20" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home20" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 20</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-21" class="btn-popup"> 
            <img src="{{ 'home-21.jpg' | asset_url }}" alt="Main Demo 21"> <span>Import Now</span> 
          </a>
          <div id="main-demo-21" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home21" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 21</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-22" class="btn-popup"> 
            <img src="{{ 'home-22.jpg' | asset_url }}" alt="Main Demo 22"> <span>Import Now</span> 
          </a>
          <div id="main-demo-22" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home22" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 22</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-23" class="btn-popup"> 
            <img src="{{ 'home-23.jpg' | asset_url }}" alt="Main Demo 23"> <span>Import Now</span> 
          </a>
          <div id="main-demo-23" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home23" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 23</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-24" class="btn-popup"> 
            <img src="{{ 'home-24.jpg' | asset_url }}" alt="Main Demo 24"> <span>Import Now</span> 
          </a>
          <div id="main-demo-24" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home24" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 24</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-25" class="btn-popup"> 
            <img src="{{ 'home-25.jpg' | asset_url }}" alt="Main Demo 25"> <span>Import Now</span> 
          </a>
          <div id="main-demo-25" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home25" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 25</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-26" class="btn-popup"> 
            <img src="{{ 'home-26.jpg' | asset_url }}" alt="Main Demo 26"> <span>Import Now</span> 
          </a>
          <div id="main-demo-26" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home26" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 26</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-27" class="btn-popup"> 
            <img src="{{ 'home-27.jpg' | asset_url }}" alt="Main Demo 27"> <span>Import Now</span> 
          </a>
          <div id="main-demo-27" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home27" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 27</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-28" class="btn-popup"> 
            <img src="{{ 'home-28.jpg' | asset_url }}" alt="Main Demo 28"> <span>Import Now</span> 
          </a>
          <div id="main-demo-28" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home28" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 28</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-29" class="btn-popup"> 
            <img src="{{ 'home-29.jpg' | asset_url }}" alt="Main Demo 29"> <span>Import Now</span> 
          </a>
          <div id="main-demo-29" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home29" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 29</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-30" class="btn-popup"> 
            <img src="{{ 'home-30.jpg' | asset_url }}" alt="Main Demo 30"> <span>Import Now</span> 
          </a>
          <div id="main-demo-30" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home30" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 30</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-31" class="btn-popup"> 
            <img src="{{ 'home-31.jpg' | asset_url }}" alt="Main Demo 31"> <span>Import Now</span> 
          </a>
          <div id="main-demo-31" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home31" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 31</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-32" class="btn-popup"> 
            <img src="{{ 'home-32.jpg' | asset_url }}" alt="Main Demo 32"> <span>Import Now</span> 
          </a>
          <div id="main-demo-32" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home32" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 32</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-33" class="btn-popup"> 
            <img src="{{ 'home-33.jpg' | asset_url }}" alt="Main Demo 33"> <span>Import Now</span> 
          </a>
          <div id="main-demo-33" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home33" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 33</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-34" class="btn-popup"> 
            <img src="{{ 'home-34.jpg' | asset_url }}" alt="Main Demo 34"> <span>Import Now</span> 
          </a>
          <div id="main-demo-34" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home34" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 34</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-35" class="btn-popup"> 
            <img src="{{ 'home-35.jpg' | asset_url }}" alt="Main Demo 35"> <span>Import Now</span> 
          </a>
          <div id="main-demo-35" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home35" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 35</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-36" class="btn-popup"> 
            <img src="{{ 'home-36.jpg' | asset_url }}" alt="Main Demo 36"> <span>Import Now</span> 
          </a>
          <div id="main-demo-36" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home36" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 36</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-37" class="btn-popup"> 
            <img src="{{ 'home-37.jpg' | asset_url }}" alt="Main Demo 37"> <span>Import Now</span> 
          </a>
          <div id="main-demo-37" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home37" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 37</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-38" class="btn-popup"> 
            <img src="{{ 'home-38.jpg' | asset_url }}" alt="Main Demo 38"> <span>Import Now</span> 
          </a>
          <div id="main-demo-38" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home38" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 38</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-39" class="btn-popup"> 
            <img src="{{ 'home-39.jpg' | asset_url }}" alt="Main Demo 39"> <span>Import Now</span> 
          </a>
          <div id="main-demo-39" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home39" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 39</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-40" class="btn-popup"> 
            <img src="{{ 'home-40.jpg' | asset_url }}" alt="Main Demo 40"> <span>Import Now</span> 
          </a>
          <div id="main-demo-40" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home40" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 40</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-41" class="btn-popup"> 
            <img src="{{ 'home-41.jpg' | asset_url }}" alt="Main Demo 41"> <span>Import Now</span> 
          </a>
          <div id="main-demo-41" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home41" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 41</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-42" class="btn-popup"> 
            <img src="{{ 'home-42.jpg' | asset_url }}" alt="Main Demo 42"> <span>Import Now</span> 
          </a>
          <div id="main-demo-42" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home42" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 42</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-43" class="btn-popup"> 
            <img src="{{ 'home-43.jpg' | asset_url }}" alt="Main Demo 43"> <span>Import Now</span> 
          </a>
          <div id="main-demo-43" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home43" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 43</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-44" class="btn-popup"> 
            <img src="{{ 'home-44.jpg' | asset_url }}" alt="Main Demo 44"> <span>Import Now</span> 
          </a>
          <div id="main-demo-44" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home44" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 44</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-45" class="btn-popup"> 
            <img src="{{ 'home-45.jpg' | asset_url }}" alt="Main Demo 45"> <span>Import Now</span> 
          </a>
          <div id="main-demo-45" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home45" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 45</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-46" class="btn-popup"> 
            <img src="{{ 'home-46.jpg' | asset_url }}" alt="Main Demo 46"> <span>Import Now</span> 
          </a>
          <div id="main-demo-46" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home46" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 46</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-47" class="btn-popup"> 
            <img src="{{ 'home-47.jpg' | asset_url }}" alt="Main Demo 47"> <span>Import Now</span> 
          </a>
          <div id="main-demo-47" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home47" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 47</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-48" class="btn-popup"> 
            <img src="{{ 'home-48.jpg' | asset_url }}" alt="Main Demo 48"> <span>Import Now</span> 
          </a>
          <div id="main-demo-48" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home48" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 48</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-49" class="btn-popup"> 
            <img src="{{ 'home-49.jpg' | asset_url }}" alt="Main Demo 49"> <span>Import Now</span> 
          </a>
          <div id="main-demo-49" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home49" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 49</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-50" class="btn-popup"> 
            <img src="{{ 'home-50.jpg' | asset_url }}" alt="Main Demo 50"> <span>Import Now</span> 
          </a>
          <div id="main-demo-50" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home50" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 50</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-51" class="btn-popup"> 
            <img src="{{ 'home-51.jpg' | asset_url }}" alt="Main Demo 51"> <span>Import Now</span> 
          </a>
          <div id="main-demo-51" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home51" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 51</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-52" class="btn-popup"> 
            <img src="{{ 'home-52.jpg' | asset_url }}" alt="Main Demo 52"> <span>Import Now</span> 
          </a>
          <div id="main-demo-52" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home52" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 52</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-53" class="btn-popup"> 
            <img src="{{ 'home-53.jpg' | asset_url }}" alt="Main Demo 53"> <span>Import Now</span> 
          </a>
          <div id="main-demo-53" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home53" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 53</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-54" class="btn-popup"> 
            <img src="{{ 'home-54.jpg' | asset_url }}" alt="Main Demo 54"> <span>Import Now</span> 
          </a>
          <div id="main-demo-54" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home54" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 54</h2>
        </div>
      </div>
      <div class="demo-item grid-item">
        <div class="item-inner la-animation animated wpb_animate_when_almost_visible fadeIn" data-animation-delay="100ms" data-animation-class="fadeIn" style="animation-delay: 100ms;">
          <a href="#main-demo-55" class="btn-popup"> 
            <img src="{{ 'home-55.jpg' | asset_url }}" alt="Main Demo 55"> <span>Import Now</span> 
          </a>
          <div id="main-demo-55" class="text-center" style="display:none;">
            <p style="color: #e9595e">Before publish the home page, you should create a backup of current Theme settings. Copy the bellow code and save in your computer. You can use backup setting data in next time if you need to roll back current home page.</p>
            <div class="form-export">
              <div class="content" style="width: 48%; float:left;">                
                <form action="">
                  <textarea class="g_export_form" rows="10" readonly></textarea>
                  <button class="btn g_export_btn" type="submit">Copy setting data to clipboard</button>
                </form>
              </div>
            </div>
            <a href="#" class="import-btn btn" data-layout="Home55" title="Publish">Publish</a>
          </div>
          <h2>Main Demo 55</h2>
        </div>
      </div>
    </div>
    <div class="container-import-form">
      <div class="form-import">
        <label>Import</label>
        <div class="content">
          <form action="">
            <textarea class="form-control" id="g_import_form" rows="10" placeholder="Paste data json here..." required></textarea>
            <button class="btn" id="g_import_btn" type="submit">Publish</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <a class="g-btn-close btn" href="#"><i class="dl-icon-close"></i></a>
</div>
<script src="{{ 'g_update_theme.js' | asset_url }}" async></script>