{%- case section.settings.sidetoshow -%}
    {% when '4' %}
      	{%- assign slider_class_width = 'xlg-grid-4-items lg-grid-4-items md-grid-3-items' -%}
    {% when '5' %}
    	{%- assign slider_class_width = 'xlg-grid-5-items lg-grid-5-items md-grid-4-items' -%}
    {% when '6' %}
    	{%- assign slider_class_width = 'xlg-grid-6-items lg-grid-6-items md-grid-4-items' -%}
{%- endcase -%}
<div style="display: none;">{% include 'dlicon-arrow-left2' %}{% include 'dlicon-arrow-right2' %}</div>
<div class="g-brands wow fadeIn animated">
  <div class="container">
    <div class="g-slick-slider grid-items {{ slider_class_width }} sm-grid-3-items xs-grid-2-items mb-grid-1-items" data-slick='{"infinite":{% if section.settings.use_loop %}true{% else %}false{% endif %},"dots":{% if section.settings.use_dots %}true{% else %}false{% endif %},"slidesToShow":{{ section.settings.sidetoshow }},"slidesToScroll":{{ section.settings.sidetoshow }},"autoplay":{% if section.settings.use_autoplay %}true{% else %}false{% endif %},"arrows":{% if section.settings.use_arrows %}true{% else %}false{% endif %},"speed":"1000","autoplaySpeed":3000,"centerMode":false,"variableWidth":false,"nextArrow":"<button type=\"button\" style=\"font-size:24px;width:24px;height:24px;line-height:24px;\" class=\"slick-next default\"><svg><use xlink:href=\"#dlicon-arrow-right2\"><\/use><\/svg><\/button>","prevArrow":"<button type=\"button\" style=\"font-size:24px;width:24px;height:24px;line-height:24px;\" class=\"slick-prev default\"><svg><use xlink:href=\"#dlicon-arrow-left2\"><\/use><\/svg><\/button>","responsive":[{"breakpoint":1824,"settings":{"slidesToShow":{{ section.settings.sidetoshow }},"slidesToScroll":{{ section.settings.sidetoshow }}}},{"breakpoint":1200,"settings":{"slidesToShow":5,"slidesToScroll":5}},{"breakpoint":992,"settings":{"slidesToShow":3,"slidesToScroll":3}},{"breakpoint":768,"settings":{"slidesToShow":3,"slidesToScroll":3}},{"breakpoint":480,"settings":{"slidesToShow":2,"slidesToScroll":2}}]}'>
      {% for block in section.blocks %}
      <div class="grid-item brand-item">
        <div class="image-brand">
          {% if block.settings.image != blank %}
            {% if block.settings.link != blank %}<a href="{{ block.settings.link }}" target="_blank">{% endif %}
            	<img data-src="{{ block.settings.image | img_url: 'master' | split:'?' | first }}" class="vc_single_image-img attachment-full lazy" alt="{{ block.settings.image.alt }}" />
            {% if block.settings.link != blank %}</a>{% endif %}
            {% else %}
            	{{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>       
  </div>
</div>
  
{% schema %}
  {
    "name": "Brands Carousel",
    "class": "globo_brand_carousel",
    "settings": [
      {
       "type": "header",
       "content": "Settings Slider"
      },
      {
        "type": "select",
        "id": "sidetoshow",
        "label": "slides To Show: ",
        "options": [
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          }
        ],
        "default": "6"
      },
      {
        "type": "checkbox",
        "id": "use_arrows",
        "label": "Use arrows?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "use_dots",
        "label": "Use dots?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "use_autoplay",
        "label": "Use autoplay?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "use_loop",
        "label": "Use infinite loop sliding?",
        "default": false
      }
  ],
  "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ]
  }
{% endschema %}