{%- case section.settings.css_animations -%}
    {% when '1' %}
      	{%- assign css_animations_class = '' -%}
    {% when '2' %}
    	{%- assign css_animations_class = 'wow fadeIn' -%}
    {% when '3' %}
    	{%- assign css_animations_class = 'wow fadeInDown' -%}
    {% when '4' %}
    	{%- assign css_animations_class = 'wow fadeInDownBig' -%}
    {% when '5' %}
    	{%- assign css_animations_class = 'wow fadeInLeft' -%}
    {% when '6' %}
    	{%- assign css_animations_class = 'wow fadeInLeftBig' -%}
    {% when '7' %}
    	{%- assign css_animations_class = 'wow fadeInRight' -%}
    {% when '8' %}
    	{%- assign css_animations_class = 'wow fadeInRightBig' -%}
    {% when '9' %}
    	{%- assign css_animations_class = 'wow fadeInUp' -%}
    {% when '10' %}
    	{%- assign css_animations_class = 'wow fadeInUpBig' -%}
{%- endcase -%}

<div class="g-collections-masonry {{ css_animations_class }}" {% if section.settings.margin != blank %}style="margin: {{ section.settings.margin }};"{% endif %}>
  <div class="categories-masonry">
    {% for block in section.blocks %}
    {%- case block.settings.width -%}
    {% when '1' %}
    {% assign columns_width = 'col-md-3 col-sm-6 col-xs-12' %}
    {% when '2' %}
    {% assign columns_width = 'col-md-26-04 col-sm-6 col-xs-12' %}
    {% when '3' %}
    {% assign columns_width = 'col-md-28-39 col-sm-6 col-xs-12' %}
    {% when '4' %}
    {% assign columns_width = 'col-md-4 col-sm-6 col-xs-12' %}
    {% when '5' %}
    {% assign columns_width = 'col-md-5 col-sm-6 col-xs-12' %}
    {% when '6' %}
    {% assign columns_width = 'col-md-45-57 col-sm-6 col-xs-12' %}
    {% when '7' %}
    {% assign columns_width = 'col-md-6 col-sm-6 col-xs-12' %}
    {% when '8' %}
    {% assign columns_width = 'col-md-7 col-sm-6 col-xs-12' %}
    {%- endcase -%}
    {% case block.type %}
    {% when 'image_link' %}
    <div class="{{ columns_width }} categories-grid-item" style="padding: 0; margin: 0;">
      {% if block.settings.image != blank %}
      <a href="{{ block.settings.link }}"><img src="{{ block.settings.image | img_url: 'master' | split:'?' | first }}" alt="{{ block.settings.image.alt }}" /></a>
      {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
    {% when 'image_text' %}
    <div class="{{ columns_width }} categories-grid-item" style="padding: 0; margin: 0;">
      <div class="col-relative">
        <div class="categories-item--thumbnail">
          {% if block.settings.image != blank %}
          <img src="{{ block.settings.image | img_url: 'master' | split:'?' | first }}" alt="{{ block.settings.image.alt }}" />
          {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
        <div class="categories-item--info">
          {% if block.settings.title != blank %}
          <div class="c-title-masonry">{{ block.settings.title }}</div>
          {% endif %}
        </div>
        {% if block.settings.link != blank %}<a href="{{ block.settings.link }}" class="overflow-link"></a>{% endif %}
      </div>
    </div>
    {% when 'text' %}
    <div class="{{ columns_width }} categories-grid-item" style="padding: 0; margin: 0;">
      <div class="c-ct-about-us">
        {% if block.settings.title != blank %}
        <h4>{{ block.settings.title }}</h4>
        {% endif %}
        {% if block.settings.quote != blank %}
        <div class="text-testimonials-support">
          {{ block.settings.quote }}
        </div>
        {% endif %}
        {% if block.settings.author != blank %}
        <div class="name-black">
          {{ block.settings.author }}
        </div>
        {% endif %}
      </div>
    </div>
    {% when 'newsletter' %}
    <div class="{{ columns_width }} categories-grid-item" style="padding: 0; margin: 0;">
      <div class="c-ct-newsletter">
        {% if block.settings.title != blank %}
        <h2>{{ block.settings.title }}</h2>
        {% endif %}
        {% if block.settings.subtitle != blank %}
        <p>{{ block.settings.subtitle }}</p>
        {% endif %}
        {% form 'customer', id: 'contact-form-collections',  class:'form-newsletter' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
        <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
        {% else %}
        <div class="input-group-newsletter">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input type="email"
                 name="contact[email]"
                 id="Email-collections"
                 class="mc-email field-no-label"
                 value="{% if customer %}{{ customer.email }}{% endif %}"
                 placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                 autocorrect="off"
                 autocapitalize="off" {% if block.settings.bg_color_input != blank %}style="background-color: {{ block.settings.bg_color_input }};"{% endif %}>
          <span class="input-group__btn">
            <button type="submit" class="mc-submit-button btn btn-primary" name="commit" id="Subscribe-collections">
              <span>{{ 'general.newsletter_form.submit' | t }}</span>
            </button>
          </span>
        </div>
        {% endif %}
        {% endform %}
      </div>
    </div>
    {% endcase %}
    {% endfor %}
  </div>     
</div>
<div class="clearfix"></div>
{% schema %}
  {
    "name": "Block collections masonry",
    "class": "globo_collections_masonry",
	"max_blocks": 11,
  	"presets": [
      {
        "name": "Block collections masonry",
        "category": "Columns masonry",
        "blocks": [
          {
            "type": "image_link"
          },
          {
            "type": "image_text"
          },
          {
            "type": "text"
          },
          {
            "type": "image_text"
          },
          {
            "type": "image_link"
          }
        ]
      }
    ],
    "settings": [
      {
      "type": "select",
      "id": "css_animations",
      "label": "CSS Animation",
      "options": [
          { "value": "1", "label": "None" },
          { "value": "2", "label": "fadeIn" },
          { "value": "3", "label": "fadeInDown" },
          { "value": "4", "label": "fadeInDownBig" },
          { "value": "5", "label": "fadeInLeft" },
          { "value": "6", "label": "fadeInLeftBig" },
          { "value": "7", "label": "fadeInRight" },
          { "value": "8", "label": "fadeInRightBig" },
          { "value": "9", "label": "fadeInUp" },
          { "value": "10", "label": "fadeInUpBig" }
        ],
        "default": "2"
      },
      {
        "type": "text",
        "id": "margin",
        "label": "Margin: (top-right-bottom-left)",
        "info": "Ex: 10px 0 30px 0"
      }
    ],
  	"blocks": [
      {
        "type": "image_link",
        "name": "Block image and link",
        "settings": [
         {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "1",
          "options": [
               {
                 "value": "1",
                 "label": "25%"
               },
               {
                 "value": "2",
                 "label": "26.04%"
               },
               {
                 "value": "3",
                 "label": "28.39%"
               },
               {
                 "value": "4",
                 "label": "33.33333%"
               },
               {
                 "value": "5",
                 "label": "41.66667%"
               },
               {
                 "value": "6",
                 "label": "45.57%"
               },
               {
                 "value": "7",
                 "label": "50%"
               },
               {
                 "value": "8",
                 "label": "58.33333%"
               }
             ]
         },
         {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
         },
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
         }
        ]
      },
      {
        "type": "image_text",
        "name": "Block image and text",
        "settings": [
         {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "1",
          "options": [
               {
                 "value": "1",
                 "label": "25%"
               },
               {
                 "value": "2",
                 "label": "26.04%"
               },
               {
                 "value": "3",
                 "label": "28.39%"
               },
               {
                 "value": "4",
                 "label": "33.33333%"
               },
               {
                 "value": "5",
                 "label": "41.66667%"
               },
               {
                 "value": "6",
                 "label": "45.57%"
               },
               {
                 "value": "7",
                 "label": "50%"
               },
               {
                 "value": "8",
                 "label": "58.33333%"
               }
             ]
         },
         {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
         },
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
         },
         {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "New Collection"
         }
        ]
      },
      {
        "type": "text",
        "name": "Block about text",
        "settings": [
         {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "4",
          "options": [
               {
                 "value": "1",
                 "label": "25%"
               },
               {
                 "value": "2",
                 "label": "26.04%"
               },
               {
                 "value": "3",
                 "label": "28.39%"
               },
               {
                 "value": "4",
                 "label": "33.33333%"
               },
               {
                 "value": "5",
                 "label": "41.66667%"
               },
               {
                 "value": "6",
                 "label": "45.57%"
               },
               {
                 "value": "7",
                 "label": "50%"
               },
               {
                 "value": "8",
                 "label": "58.33333%"
               }
             ]
         },
         {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "ABOUT US"
         },
         {
            "type": "textarea",
            "id": "quote",
            "label": "Text",
            "default": "&laquo; Suspendisse faucibus sed dolor eget posuere interdum urna. ante commodo tristique. consectetur adipiscing commodo tristique &raquo;"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
			"default": "<span>JONT HENRRY<\/span> - CEO MOONTHEME"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter",
        "settings": [
         {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "4",
          "options": [
               {
                 "value": "1",
                 "label": "25%"
               },
               {
                 "value": "2",
                 "label": "26.04%"
               },
               {
                 "value": "3",
                 "label": "28.39%"
               },
               {
                 "value": "4",
                 "label": "33.33333%"
               },
               {
                 "value": "5",
                 "label": "41.66667%"
               },
               {
                 "value": "6",
                 "label": "45.57%"
               },
               {
                 "value": "7",
                 "label": "50%"
               },
               {
                 "value": "8",
                 "label": "58.33333%"
               }
             ]
         },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Get Discount 30% Off"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Get 20% discount with notified about the latest news and updates. No spam, we promise!"
          },
          {
            "type": "color",
            "id": "bg_color_input",
            "label": "Background color input"
          }
        ]
      }
    ]
  }
{% endschema %}