{%- case section.settings.css_animations -%}
    {% when '1' %}
      	{%- assign css_animations_class = '' -%}
    {% when '2' %}
    	{%- assign css_animations_class = 'wow fadeIn' -%}
    {% when '3' %}
    	{%- assign css_animations_class = 'wow fadeInDown' -%}
    {% when '4' %}
    	{%- assign css_animations_class = 'wow fadeInDownBig' -%}
    {% when '5' %}
    	{%- assign css_animations_class = 'wow fadeInLeft' -%}
    {% when '6' %}
    	{%- assign css_animations_class = 'wow fadeInLeftBig' -%}
    {% when '7' %}
    	{%- assign css_animations_class = 'wow fadeInRight' -%}
    {% when '8' %}
    	{%- assign css_animations_class = 'wow fadeInRightBig' -%}
    {% when '9' %}
    	{%- assign css_animations_class = 'wow fadeInUp' -%}
    {% when '10' %}
    	{%- assign css_animations_class = 'wow fadeInDown' -%}
    {% when '11' %}
    	{%- assign css_animations_class = 'wow fadeInUpBig' -%}
{%- endcase -%}

{%- case section.settings.use_width -%}
    {% when '1' %}
      	{%- assign width_one_banner = 'g-fullwwidth' -%}
    {% when '2' %}
    	{%- assign width_one_banner = 'container-full' -%}
    {% when '3' %}
    	{%- assign width_one_banner = 'container' -%}
{%- endcase -%}

<div class="g-one-banner-5 {{ css_animations_class }}" {% if section.settings.margin != blank %}style="margin: {{ section.settings.margin }};"{% endif %}>
  <div class="{{ width_one_banner }}">
    <div class="g-banner cover-background lazy" {% if section.settings.image != blank %}data-src="{{ section.settings.image | img_url: '1920x', format: 'pjpg' | split:'?' | first }}"{% else %}style="background-color: #e6e6e6;"{% endif %}>
      <div class="container">
        <div class="box-banner-1 box-banner-4">
          {% if section.settings.heading != blank %}
          <h2 {% if section.settings.heading_color != blank %}style="color: {{ section.settings.heading_color }};"{% endif %}>{{ section.settings.heading }}</h2>
          {% endif %}
          {% if section.settings.title != blank %}
          <div class="title" {% if section.settings.title_color != blank %}style="color: {{ section.settings.title_color }};"{% endif %}>{{ section.settings.title }}</div>
          {% endif %} 
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "One Banner 5",
    "class": "globo_one_banner_5",
    "presets": [
      {
        "name": "One Banner 5",
        "category": "Categories & Banner"
      }
    ],
    "settings": [
        {
        "type": "select",
        "id": "css_animations",
        "label": "CSS Animation",
        "options": [
            { "value": "1", "label": "None" },
            { "value": "2", "label": "fadeIn" },
            { "value": "3", "label": "fadeInDown" },
            { "value": "4", "label": "fadeInDownBig" },
            { "value": "5", "label": "fadeInLeft" },
            { "value": "6", "label": "fadeInLeftBig" },
            { "value": "7", "label": "fadeInRight" },
            { "value": "8", "label": "fadeInRightBig" },
            { "value": "9", "label": "fadeInUp" },
            { "value": "10", "label": "fadeInDown" },
            { "value": "11", "label": "fadeInUpBig" }
          ],
          "default": "2"
        },
        {
          "type": "select",
          "id": "use_width",
          "label": "One banner width",
          "options": [
            { "value": "1", "label": "Use full width" },
            { "value": "2", "label": "Use padding" },
            { "value": "3", "label": "Use container" }
          ],
          "default": "2"
        },
        {
          "type": "text",
          "id": "margin",
          "label": "Margin: (top-right-bottom-left)",
          "info": "Ex: 10px 0 30px 0"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
         {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "<span>SALE UPTO<\/span><strong>20%<\/strong>"
         },
         {
            "type": "color",
            "id": "heading_color",
            "label": "Heading color",
			"default": "#f26c4f"
         },
         {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "WHITE<br>SAMPO"
         },
         {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
			"default": "#f26c4f"
         }
    ]
  }
{% endschema %}