{%- case section.settings.css_animations -%}
    {% when '1' %}
      	{%- assign css_animations_class = '' -%}
    {% when '2' %}
    	{%- assign css_animations_class = 'wow fadeIn' -%}
    {% when '3' %}
    	{%- assign css_animations_class = 'wow fadeInDown' -%}
    {% when '4' %}
    	{%- assign css_animations_class = 'wow fadeInDownBig' -%}
    {% when '5' %}
    	{%- assign css_animations_class = 'wow fadeInLeft' -%}
    {% when '6' %}
    	{%- assign css_animations_class = 'wow fadeInLeftBig' -%}
    {% when '7' %}
    	{%- assign css_animations_class = 'wow fadeInRight' -%}
    {% when '8' %}
    	{%- assign css_animations_class = 'wow fadeInRightBig' -%}
    {% when '9' %}
    	{%- assign css_animations_class = 'wow fadeInUp' -%}
    {% when '10' %}
    	{%- assign css_animations_class = 'wow fadeInUpBig' -%}
{%- endcase -%}

{%- case section.settings.use_width -%}
    {% when '1' %}
      	{%- assign content_width = 'g-fullwwidth' -%}
    {% when '2' %}
    	{%- assign content_width = 'container-full' -%}
    {% when '3' %}
    	{%- assign content_width = 'container' -%}
{%- endcase -%}
<div class="g-popular-collection {{ css_animations_class }}" {% if section.settings.margin != blank %}style="margin: {{ section.settings.margin }};"{% endif %}>
  <div class="{{ content_width }}">
    <div class="g-relative">
      {% if section.settings.title != blank %}
      <h2 {% if section.settings.title_position_top != blank %}style="top: {{ section.settings.title_position_top }};"{% endif %}>{{ section.settings.title }}</h2>
      {% endif %}
      <div class="list-popular-collections">
        {% for block in section.blocks %}
        {%- case block.settings.width -%}
        {% when '1' %}
        {% assign featured_banner_width = 'col-sm-3 col-xs-12' %}
        {% when '2' %}
        {% assign featured_banner_width = 'col-sm-4 col-xs-12' %}
        {% when '3' %}
        {% assign featured_banner_width = 'col-sm-6 col-xs-12' %}
        {% when '4' %}
        {% assign featured_banner_width = 'col-sm-8 col-xs-12' %}
        {% when '5' %}
        {% assign featured_banner_width = 'col-sm-12 col-xs-12' %}
        {%- endcase -%}
        {% case block.type %}
        {% when 'block_collection_1' %}
		<div class="{{ featured_banner_width }}" style="padding: 0; {% if block.settings.margin != blank %}margin: {{ block.settings.margin }};{% endif %}">
          <div class="popular-collection-item-center">
            <div class="image">
              {% if block.settings.image != blank %}
              <img class="lazy" data-src="{{ block.settings.image | img_url: '860x860', format: 'pjpg' | split:'?' | first }}" alt="{{ block.settings.image.alt }}" />
              {% else %}
              {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg svg-height-1000' }}
              {% endif %}
            </div>
            <div class="info">
              {% if block.settings.title != blank %}
              <h3 {% if block.settings.title_color != blank %}style="color: {{ block.settings.title_color }};"{% endif %}>{{ block.settings.title }}</h3>
              {% endif %}
            </div>
            {% if block.settings.use_button_link %}
            <a href="{{ block.settings.link }}">
              <svg data-name="button view" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" height="50" viewBox="0 0 50 50">
                <metadata><?xpacket begin="﻿" ?>
                  <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01">
                    <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                      <rdf:Description rdf:about=""/>
                    </rdf:RDF>
                  </x:xmpmeta>
                  <?xpacket end="w"?></metadata>
                <defs>
                  <filter x="-39" y="-39" width="129" height="129" filterUnits="userSpaceOnUse">
                    <feOffset result="offset" in="SourceAlpha"/>
                    <feGaussianBlur result="blur" stdDeviation="6.164"/>
                    <feFlood result="flood" flood-color="#96b0cb" flood-opacity="0.31"/>
                    <feComposite result="composite" operator="in" in2="blur"/>
                    <feBlend result="blend" in="SourceGraphic"/>
                  </filter>
                </defs>
                <circle data-name="Ellipse bg" class="cls-1" cx="25" cy="25" r="25" style="fill: {{ block.settings.button_bg }};" />
                <path class="cls-2" d="M24,15h1V35H24V15ZM15,26V25H35v1H15Z" style="fill: {{ block.settings.button_color }};" />
              </svg>
            </a>
            {% endif %}
          </div>          
        </div>
        {% when 'block_collection_2' %}
        <div class="{{ featured_banner_width }}" style="padding: 0; {% if block.settings.margin != blank %}margin: {{ block.settings.margin }};{% endif %}">
          <div class="popular-collection-item">
            <div class="image">
              {% if block.settings.image_1 != blank %}
              <img class="lazy" data-src="{{ block.settings.image_1 | img_url: '860x860', format: 'pjpg' | split:'?' | first }}" alt="{{ block.settings.image_1.alt }}" />
              {% else %}
              {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg svg-height-600' }}
              {% endif %}
            </div>
            <div class="info">
              {% if block.settings.title_1 != blank %}
              <h3 {% if block.settings.title_1_color != blank %}style="color: {{ block.settings.title_1_color }};"{% endif %}>{{ block.settings.title_1 }}</h3>
              {% endif %}
              {% if block.settings.subtitle_1 != blank %}
              <div class="subtitle" {% if block.settings.subtitle_1_color != blank %}style="color: {{ block.settings.subtitle_1_color }};"{% endif %}>{{ block.settings.subtitle_1 }}</div>
              {% endif %}
            </div>
            {% if block.settings.use_button_link_1 %}
            <a href="{{ block.settings.link_1 }}">
              <svg data-name="button view" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" height="50" viewBox="0 0 50 50">
                <metadata><?xpacket begin="﻿" ?>
                  <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01">
                    <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                      <rdf:Description rdf:about=""/>
                    </rdf:RDF>
                  </x:xmpmeta>
                  <?xpacket end="w"?></metadata>
                <defs>
                  <filter x="-39" y="-39" width="129" height="129" filterUnits="userSpaceOnUse">
                    <feOffset result="offset" in="SourceAlpha"/>
                    <feGaussianBlur result="blur" stdDeviation="6.164"/>
                    <feFlood result="flood" flood-color="#96b0cb" flood-opacity="0.31"/>
                    <feComposite result="composite" operator="in" in2="blur"/>
                    <feBlend result="blend" in="SourceGraphic"/>
                  </filter>
                </defs>
                <circle data-name="Ellipse bg" class="cls-1" cx="25" cy="25" r="25" style="fill: {{ block.settings.button_1_bg }};" />
                <path class="cls-2" d="M24,15h1V35H24V15ZM15,26V25H35v1H15Z" style="fill: {{ block.settings.button_1_color }};" />
              </svg>
            </a>
            {% endif %}
          </div>
          <div class="popular-collection-item">
            <div class="image">
              {% if block.settings.image_2 != blank %}
              <img class="lazy" data-src="{{ block.settings.image_2 | img_url: '860x860', format: 'pjpg' | split:'?' | first }}" alt="{{ block.settings.image_2.alt }}" />
              {% else %}
              {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg svg-height-600' }}
              {% endif %}
            </div>
            <div class="info">
              {% if block.settings.title_2 != blank %}
              <h3 {% if block.settings.title_2_color != blank %}style="color: {{ block.settings.title_2_color }};"{% endif %}>{{ block.settings.title_2 }}</h3>
              {% endif %}
              {% if block.settings.subtitle_2 != blank %}
              <div class="subtitle" {% if block.settings.subtitle_2_color != blank %}style="color: {{ block.settings.subtitle_2_color }};"{% endif %}>{{ block.settings.subtitle_2 }}</div>
              {% endif %}
            </div>
            {% if block.settings.use_button_link_2 %}
            <a href="{{ block.settings.link_2 }}">
              <svg data-name="button view" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" height="50" viewBox="0 0 50 50">
                <metadata><?xpacket begin="﻿" ?>
                  <x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01">
                    <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                      <rdf:Description rdf:about=""/>
                    </rdf:RDF>
                  </x:xmpmeta>
                  <?xpacket end="w"?></metadata>
                <defs>
                  <filter x="-39" y="-39" width="129" height="129" filterUnits="userSpaceOnUse">
                    <feOffset result="offset" in="SourceAlpha"/>
                    <feGaussianBlur result="blur" stdDeviation="6.164"/>
                    <feFlood result="flood" flood-color="#96b0cb" flood-opacity="0.31"/>
                    <feComposite result="composite" operator="in" in2="blur"/>
                    <feBlend result="blend" in="SourceGraphic"/>
                  </filter>
                </defs>
                <circle data-name="Ellipse bg" class="cls-1" cx="25" cy="25" r="25" style="fill: {{ block.settings.button_2_bg }};" />
                <path class="cls-2" d="M24,15h1V35H24V15ZM15,26V25H35v1H15Z" style="fill: {{ block.settings.button_2_color }};" />
              </svg>
            </a>
            {% endif %}
          </div>
        </div>        
        {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Block Popular Collections",
    "class": "globo_block_popular_collections",
    "max_blocks": 3,
    "presets": [
      {
        "name": "Block Popular Collections",
        "category": "Categories & Banner",
        "blocks" : [
          {
            "type": "block_collection_1"
          },
          {
            "type": "block_collection_2"
          },
          {
            "type": "block_collection_2"
          }
        ]
      }
    ],
    "settings": [
      {
      "type": "select",
      "id": "css_animations",
      "label": "CSS Animation",
      "options": [
          { "value": "1", "label": "None" },
          { "value": "2", "label": "fadeIn" },
          { "value": "3", "label": "fadeInDown" },
          { "value": "4", "label": "fadeInDownBig" },
          { "value": "5", "label": "fadeInLeft" },
          { "value": "6", "label": "fadeInLeftBig" },
          { "value": "7", "label": "fadeInRight" },
          { "value": "8", "label": "fadeInRightBig" },
          { "value": "9", "label": "fadeInUp" },
          { "value": "10", "label": "fadeInUpBig" }
        ],
        "default": "2"
      },
      {
        "type": "select",
        "id": "use_width",
        "label": "Content width",
        "options": [
          { "value": "1", "label": "Use full width" },
          { "value": "2", "label": "Use padding" },
          { "value": "3", "label": "Use container" }
        ],
        "default": "1"
      },
      {
        "type": "text",
        "id": "margin",
        "label": "Margin: (top-right-bottom-left)",
        "info": "Ex: 10px 0 30px 0"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Choose to your taste"
      },
      {
        "type": "text",
        "id": "title_position_top",
        "label": "Title position top",
        "default": "-9%"
      }
    ],
    "blocks": [
    {
      "type": "block_collection_1",
      "name": "Block collection 1",
      "settings": [
         {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "2",
        "options": [
             {
               "value": "1",
               "label": "25%"
             },
             {
               "value": "2",
               "label": "33.33333%"
             },
             {
               "value": "3",
               "label": "50%"
             },
             {
               "value": "4",
               "label": "66.66666%"
             },
             {
               "value": "5",
               "label": "100%"
             }
           ]
         },
         {
            "type": "text",
            "id": "margin",
            "label": "Margin: (top-right-bottom-left)",
            "info": "Ex: 10px 0 30px 0"
         },
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
         },
         {
            "type": "textarea",
            "id": "title",
            "label": "Title",
            "default": "Delicious taste Excellent leather material diversified designs"
         },
         {
            "type": "color",
            "id": "title_color",
            "label": "Title color"
         },
         {
            "type": "checkbox",
            "id": "use_button_link",
            "label": "Use button link",
            "default": false
         },	
         {
            "type": "url",
            "id": "link",
            "label": "Link"
         },
         {
            "type": "color",
            "id": "button_bg",
            "label": "Button background"
         },
         {
            "type": "color",
            "id": "button_color",
            "label": "Button color"
         }
      ]
    },
    {
      "type": "block_collection_2",
      "name": "Block collection 2",
      "settings": [
         {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "2",
        "options": [
             {
               "value": "1",
               "label": "25%"
             },
             {
               "value": "2",
               "label": "33.33333%"
             },
             {
               "value": "3",
               "label": "50%"
             },
             {
               "value": "4",
               "label": "66.66666%"
             },
             {
               "value": "5",
               "label": "100%"
             }
           ]
         },
         {
            "type": "text",
            "id": "margin",
            "label": "Margin: (top-right-bottom-left)",
            "info": "Ex: 10px 0 30px 0"
         },
         {
          "type": "header",
          "content": "Product item 1"
         },
         {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
         },
         {
            "type": "text",
            "id": "title_1",
            "label": "Title",
            "default": "Chocolate Collection"
         },
         {
            "type": "color",
            "id": "title_1_color",
            "label": "Title color"
         },
         {
            "type": "text",
            "id": "subtitle_1",
            "label": "Subtitle",
            "default": "Suspendisse faucibus sed dolor eget posuere<br> interdum urna."
         },
         {
            "type": "color",
            "id": "subtitle_1_color",
            "label": "Subtitle color"
         },
         {
            "type": "checkbox",
            "id": "use_button_link_1",
            "label": "Use button link",
            "default": false
         },	
         {
            "type": "url",
            "id": "link_1",
            "label": "Link"
         },
         {
            "type": "color",
            "id": "button_1_bg",
            "label": "Button background"
         },
         {
            "type": "color",
            "id": "button_1_color",
            "label": "Button color"
         },
         {
          "type": "header",
          "content": "Product item 2"
         },
         {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image"
         },
         {
            "type": "text",
            "id": "title_2",
            "label": "Title",
            "default": "Chocolate Candy H1"
         },
         {
            "type": "color",
            "id": "title_2_color",
            "label": "Title color"
         },
         {
            "type": "text",
            "id": "subtitle_2",
            "label": "Subtitle",
            "default": "Suspendisse faucibus sed dolor eget posuere<br> interdum urna."
         },
         {
            "type": "color",
            "id": "subtitle_2_color",
            "label": "Subtitle color"
         },
         {
            "type": "checkbox",
            "id": "use_button_link_2",
            "label": "Use button link",
            "default": false
         },	
         {
            "type": "url",
            "id": "link_2",
            "label": "Link"
         },
         {
            "type": "color",
            "id": "button_2_bg",
            "label": "Button background"
         },
         {
            "type": "color",
            "id": "button_2_color",
            "label": "Button color"
         }
      ]
    }
  ]
  }
{% endschema %}