{%- case section.settings.css_animations -%}
    {% when '1' %}
      	{%- assign css_animations_class = '' -%}
    {% when '2' %}
    	{%- assign css_animations_class = 'wow fadeIn' -%}
    {% when '3' %}
    	{%- assign css_animations_class = 'wow fadeInDown' -%}
    {% when '4' %}
    	{%- assign css_animations_class = 'wow fadeInDownBig' -%}
    {% when '5' %}
    	{%- assign css_animations_class = 'wow fadeInLeft' -%}
    {% when '6' %}
    	{%- assign css_animations_class = 'wow fadeInLeftBig' -%}
    {% when '7' %}
    	{%- assign css_animations_class = 'wow fadeInRight' -%}
    {% when '8' %}
    	{%- assign css_animations_class = 'wow fadeInRightBig' -%}
    {% when '9' %}
    	{%- assign css_animations_class = 'wow fadeInUp' -%}
    {% when '10' %}
    	{%- assign css_animations_class = 'wow fadeInUpBig' -%}
{%- endcase -%}

<div class="g-testimonials-support g-text-support-2 {{ css_animations_class }}" style="{% if section.settings.bg_color != blank %}background-color: {{ section.settings.bg_color }};{% endif %} {% if section.settings.margin != blank %}margin: {{ section.settings.margin }};{% endif %} {% if section.settings.padding != blank %}padding: {{ section.settings.padding }};{% endif %}">
  <div class="{% if section.settings.use_container %}container{% else %}container-full{% endif %}">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        {% if section.settings.title_section != blank %}
        <h3 {% if section.settings.title_section_color != blank %}style="color: {{ section.settings.title_section_color }};"{% endif %}>{{ section.settings.title_section }}</h3>
        {% endif %}
        {% if section.settings.text != blank %}
        <div class="text-testimonials-support" {% if section.settings.text_color != blank %}style="color: {{ section.settings.text_color }};"{% endif %}>{{ section.settings.text }}</div>
        {% endif %}
        {% if section.settings.name != blank %}
      	<div class="name-black">{{ section.settings.name }}</div>
        {% endif %}
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="row">
          {% for block in section.blocks %}
          <div class="col-sm-6 col-xs-12 {{ css_animations_class }}" {% if forloop.index == 2 %}data-wow-delay="0.2s"{% endif %} {% if forloop.index == 3 %}data-wow-delay="0.6s"{% endif %} {% if forloop.index == 4 %}data-wow-delay="0.8s"{% endif %}>
            <div class="text">
              {% if block.settings.title != blank %}
              <h4 {% if section.settings.title_color != blank %}style="color: {{ section.settings.title_color }};"{% endif %}>{{ block.settings.title }}</h4>
              {% endif %}
              {% if block.settings.text != blank %}
              <p class="subtitle" {% if section.settings.subtitle_color != blank %}style="color: {{ section.settings.subtitle_color }};"{% endif %}>{{ block.settings.text }}</p>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Testimonials and Support",
    "class": "globo_testimonials_support",
	"max_blocks": 4,
  	"presets": [
      {
        "name": "Testimonials and Support",
        "category": "Text",
        "blocks": [
          {
            "type": "block_text_support"
          },
          {
            "type": "block_text_support"
          },
          {
            "type": "block_text_support"
          },
          {
            "type": "block_text_support"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "select",
        "id": "css_animations",
        "label": "CSS Animation",
        "options": [
          { "value": "1", "label": "None" },
          { "value": "2", "label": "fadeIn" },
          { "value": "3", "label": "fadeInDown" },
          { "value": "4", "label": "fadeInDownBig" },
          { "value": "5", "label": "fadeInLeft" },
          { "value": "6", "label": "fadeInLeftBig" },
          { "value": "7", "label": "fadeInRight" },
          { "value": "8", "label": "fadeInRightBig" },
          { "value": "9", "label": "fadeInUp" },
          { "value": "10", "label": "fadeInUpBig" }
        ],
        "default": "9"
      },
      {
        "type": "checkbox",
        "id": "use_container",
        "label": "Use container?",
        "default": true
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "margin",
        "label": "Margin: (top-right-bottom-left)",
        "info": "Ex: 10px 0 30px 0"
      },
      {
        "type": "text",
        "id": "padding",
        "label": "Padding: (top-right-bottom-left)",
        "info": "Ex: 10px 0 30px 0"
      },
      {
        "type": "header",
        "content": "Testimonials"
      },
      {
        "type": "text",
        "id": "title_section",
        "label": "Title",
		"default": "NeSos Funiture Store"
      },
      {
        "type": "color",
        "id": "title_section_color",
        "label": "Title color"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
		"default": "&laquo; Suspendisse faucibus sed dolor eget posuere interdum urna. ante commodo tristique. <i>consectetur adipiscing commodo tristique<\/i> &raquo;"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color"
      },
      {
        "type": "textarea",
        "id": "name",
        "label": "Name",
        "default": "<span>JONT HENRRY<\/span> - CEO NESOS"
      },
      {
        "type": "header",
        "content": "Block text support"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title color"
      },
      {
        "type": "color",
        "id": "subtitle_color",
        "label": "Subtitle color"
      }
    ],
  	"blocks": [
      {
        "type": "block_text_support",
        "name": "Block text support",
        "settings": [
         {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Free Shipping"
         },
         {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "GREAT FROM HEBES"
         }
        ]
      }
    ]
  }
{% endschema %}